.nav{
    display: flex;
}

#nav-links{
    display: flex;
}

/* footer */

#footer{
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5A13;
    color:white;
}
