.nav{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70px;
    max-height: 80px;
    font-size: 24px;
    background-color: #FF5A13;
    box-shadow: 0px 4px 4px rgba(6, 2, 0, 0.25);
    overflow:hidden;
    width: 100%;
    position: fixed;
    top:0;
    list-style-type: none;
    align-items: center;
}

.nav-link{
    padding-right: 40px;
    color:white;
    text-decoration: none;
}

.nav-link:visited{
    color:white;
}

.nav-link:hover{
    color: #000;
}

/* footer */

#footer{
    height: 50px;
    max-height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ff5a1383;
    color: #ff5a13;
    font-weight: bold;
    bottom: 0;
}
